a.button,
button.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 48px;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: var(--primary-font);
  font-size: 14px;
  font-style: normal;
  // font-weight: 300;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  transition: all 0.3s ease-in;
  position: relative;
  padding: 12px 48px 12px 20px;
  border-radius: 100px;
  text-transform: uppercase;
  border: none;
  outline: none;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    top: 15px;
    right: 10px;
    background-image: url("./../images/static/button-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
  }

  &.red {
    background: var(--primary-color);
    color: var(--white);

    &::before {
      background-color: var(--MainColor_Dark);
    }

    &:hover {
      background: var(--white);
      color: var(--MainColor_Dark);

      &::before {
        background-color: var(--primary-color);
      }
    }
  }

  &.dark {
    border: 1px solid rgba(255, 255, 255, 0.30);
    color: var(--white);

    span {
      position: relative;
      z-index: 1;
    }

    &::before {
      right: 15px;
      background-color: var(--primary-color);
    }

    &::after {
      position: absolute;
      content: "";
      background: rgba(255, 255, 255, 0.05);
      left: 3px;
      top: 3px;
      right: 3px;
      bottom: 3px;
      width: calc(100% - 6px);
      height: calc(100% - 6px);
      border-radius: 100px;
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      color: var(--MainColor_Dark);

      &::after {
        background: var(--white);
      }

      &::before {
        background-color: var(--MainColor_Dark);
        z-index: 1;
      }
    }
  }

  &.red_black {
    background: var(--primary-color);
    color: var(--white);

    &::before {
      background-color: var(--MainColor_Dark);
    }

    &:hover {
      background: var(--MainColor_Dark);
      color: var(--white);

      &::before {
        background-color: var(--primary-color);
      }
    }
  }
}


/* Load More Button Start */

.load-more {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
  outline: none;
  border: none;
  background: transparent;
  margin: 35px auto 0;

  @media (max-width: 991px) {
    margin: 20px auto 0;
  }

  .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    background: var(--primary-color);
    transition: all .3s ease-in-out;
    border-radius: 100%;

  }

  color: var(--primary-color);
  font-family: var(--primary-font);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.4px;
  transition: all .3s ease-in-out;
  text-transform: uppercase;

  &:hover {
    color: var(--secondary-color);

    .circle {
      background: var(--secondary-color);
    }
  }

  .text {
    @media (max-width: 991px) {
      display: none;
    }
  }
}

/* Load More Button End */