/* ANIMATION BIG TEXT START */
.animation-texts {
    position: relative;

    h2 {
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: var(--primary-font);
        font-size: 120px;
        font-style: normal;
        font-weight: 275;
        line-height: 87px;
        text-transform: uppercase;
        position: absolute;
    }

    .text-with-wheel {
        display: flex;
        align-items: center;
        position: absolute;

        h2 {
            position: relative;
        }
    }

    .light {
        color: var(--white);
    }

    .opacity_low {
        opacity: 0.1;
    }

    .opacity_medium {
        opacity: 0.3;
    }

    .opacity_normal {
        opacity: 1;
    }

    .align_left {
        text-align: left;
        left: 0;
        white-space: nowrap;
    }

    .align_right {
        text-align: right;
        right: 0;
        white-space: nowrap;
    }

    .align_right_with_wheel {
        justify-content: flex-end;
        right: 0;
    }

    .align_left_with_wheel {
        justify-content: flex-start;
        left: 0;
    }
}

/* ANIMATION BIG TEXT END */