//Responsive for success story slider 
@media (max-width:1720px) {
    section.success-story-slider-block .slider-innitial {
        max-width: 80%;
    }
}

@media (max-width:1620px) {
    section.success-story-slider-block .slider-innitial {
        max-width: 84%;
    }
}

@media (max-width:1500px) {
    section.success-story-slider-block .slider-innitial {
        max-width: 87%;
    }
}

@media (max-width:1300px) {
    section.success-story-slider-block .slider-innitial {
        max-width: 90%;
    }
}