* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  list-style: none;
  box-sizing: border-box;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

select,
input:focus,
button:focus,
.btn:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

label {
  margin-bottom: 0;
}

footer,
section {
  width: 100%;
  /* float: left; */
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.swiper-button-prev:hover,
.swiper-button-prev:focus,
.swiper-button-prev:active,
.swiper-button-next:hover,
.swiper-button-next:focus,
.swiper-button-next:active,
.swiper-prev:hover,
.swiper-prev:focus,
.swiper-prev:active,
.swiper-next:hover,
.swiper-next:focus,
.swiper-next:active {
  color: inherit;
  text-decoration: none;
  outline: none;
}

/*ul,
li,
ol,
p {
    margin-top: 0;
    margin-bottom: 0;
}

 ul {
    padding-left: 0px;
}

ul ul {
    padding-left: 20px;
} */

html,
body {
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
}

.ieshow {
  display: none;
}


/* IE11 */

@media all and (-ms-high-contrast:none) {
  .ieshow {
    display: block;
  }
}


/* EDGE */

@supports (-ms-ime-align:auto) {
  .ieshow {
    display: block;
  }
}


/* CONTAINER WIDTH SET START */
@media (min-width: 1400px) {

  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1240px;
  }
}

@media (min-width: 1441px) {

  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1320px;
  }
}

@media (min-width: 1921px) {
  .container-fluid {
    max-width: 1440px;
  }
}

.container-fluid {
  @media (max-width: 1920px) {
    max-width: 1260px !important;
  }

  @media (max-width: 576px) {
    padding: 0 24px !important;
  }
}

/* CONTAINER WIDTH SET END */

.main {
  overflow: hidden;
}


// rotate animation css

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}





.section-title {
  margin-bottom: 60px;

  @media (max-width: 991px) {
    margin-bottom: 40px;
  }

  h6 {
    font-family: var(--primary-font);
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
    color: var(--secondary-color);
    padding-left: 30px;
    position: relative;
    text-transform: uppercase;

    @media (max-width: 991px) {
      font-size: 14px;
      line-height: 40px;

    }

    &::before {
      position: absolute;
      content: "";
      width: 25px;
      height: 1px;
      background: var(--secondary-color);
      left: 0;
      top: 52%;
      transform: translateY(-50%);
    }
  }

  h2 {
    font-family: var(--secondary-font);
    font-size: 65px;
    font-weight: 500;
    line-height: 66px;
    letter-spacing: 0.5px;
    color: var(--white);

    &.h1 {
      color: var(--white);
      font-family: var(--secondary-font);
      font-size: 110px;
      font-style: normal;
      font-weight: 500;
      line-height: 100%;
      letter-spacing: 0.5px;

      @media (max-width: 991px) {
        font-size: 45px;
        font-weight: 400;
        line-height: 44px;
      }
    }

    @media (max-width: 991px) {
      font-size: 45px;
      font-weight: 400;
      line-height: 44px;
    }
  }

  p {
    margin-top: 20px;
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: var(--white);
  }

  &.blue {
    h6 {
      color: var(--primary-color);

      &::before {
        background: var(--primary-color);
      }

      @media (max-width: 991px) {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
      }
    }

    h2 {
      color: var(--primary-color);

      span {
        animation: blinkAnimBlue 1s step-end infinite;
      }
    }

    p {
      color: var(--primary-color);
    }
  }

  &.white {
    h2 {
      span {
        animation: blinkAnimWhite 1s step-end infinite;
      }
    }

  }

  &.red {
    h2 {
      span {
        animation: blinkAnimRed 1s step-end infinite;
      }
    }
  }

  &.shape {
    h2 {
      position: relative;
      max-width: 690px;
      margin: auto;
      z-index: 1;

      // &::before {
      //   content: "";
      //   position: absolute;
      //   width: 98px;
      //   height: 98px;
      //   border-radius: 100%;
      //   background: linear-gradient(143.41deg, #1050EB 14.49%, rgba(16, 80, 235, 0) 85.77%);
      //   left: 40px;
      //   top: -50px;
      // }
      .circle-shape {
        position: absolute;
        width: 98px;
        height: 98px;
        border-radius: 100%;
        background: linear-gradient(143.41deg, #1050EB 14.49%, rgba(16, 80, 235, 0) 85.77%);
        left: 40px;
        top: 50px;
      }

      .red-shape {
        // content: "";
        position: absolute;
        // background-image: url("../images/title-shape.png");
        // background-repeat: no-repeat;
        // background-position: center;
        // background-size: cover;
        width: 145px;
        height: 160px;
        bottom: -20px;
        right: 0;
        z-index: -1;
      }

      // &::after {
      //   content: "";
      //   position: absolute;
      //   background-image: url("../images/title-shape.png");
      //   background-repeat: no-repeat;
      //   background-position: center;
      //   background-size: cover;
      //   width: 145px;
      //   height: 160px;
      //   bottom: -20px;
      //   right: 0;
      //   z-index: -1;
      // }
    }
  }

  .small-title {
    font-family: var(--primary-font);
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
    color: var(--secondary-color);
    padding-left: 0px;
    position: relative;
    text-transform: uppercase;

  }
}

.mb-30 {
  margin-bottom: 30px;
}